#showAlbum{
  position: absolute;
  top: 10%;
  width: 100%;
  height: 90%;
  overflow: hidden;
  /*background-color: #F0EBFF;*/
  background-color: white;
}

/*원아 선택 버튼*/
#tAlbumSelectChild{
  position: absolute;
  top: 15px;
  width: 40px;
  height: 100px;
  background-color: #407EFF;
  border-radius: 0 20% 20% 0%;
}

/* 원아선택 이라는 글씨*/
#tAlbumSelectChild > p {
  position: relative;
  top:7px;
  left: 9px;
  font-weight: bold;
}

/* 슬라이드 형식으로 나올 패널*/
#tAlbumSelectChildPanel{
  position: absolute;
  top: 5px;
  width: 360px;
  height: 545px;
  background-color: #8EB3FF;
  border-radius: 3%;
  z-index: 3;

}

/* 패널 닫기 버튼 */
#tAlbumSelectChildPanelCloseBtn{
  position: relative;
  top: 5px;
  left: 315px;
  width: 40px;
  height: 40px;
  /*background-color: #FFBFBF;*/
  background-image: url('../img/xBtn.png');
  background-size: 100%, 100%;
}

/* 패널 속 원아리스트*/
#tAlbumSelectChildList{
  position: relative;
  top:15px;
  left: 10px;
  width: 340px;
  height: 470px;
  background-color: white;
  border-radius: 3%;
  overflow-y: scroll;
}

/*스크롤 바 보이지 않게 하기*/
#tAlbumSelectChildList::-webkit-scrollbar{
  display: none;
}

/*원아리스트 안 이름,사진 틀*/
.selectImgAndNameAlbum{
  position: relative;
  /*top:5%;*/
  left:5%;
  width: 90%;
  height: 100px;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 2px solid #407EFF;
  /*background-color: #EAEAEA;*/
  -webkit-box-shadow:0 2px 5px #407EFF;
}

/*리스트 사진틀*/
.imageDivAlbum{
  position: relative;
  display: inline-block;
  top:3px;
  left:2%;
  width:90px;
  height: 90px;
  border: 2px  #555555 solid;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow:0 2px 5px #555;
}

/*리스트 사진틀의 사진*/
.imageDivAlbum > img{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/*리스트 이름틀*/
.NameDivAlbum{
  position: absolute;
  display: inline-block;
  top:10%;
  left:110px;
  width: 170px;
  height: 80%;
  background-color: #555555;
  -webkit-box-shadow:0 2px 3px #777;
}


.NameDivAlbum > div{
  position: relative;
  top:2%;
  left: 1%;
  width: 98%;
  height:96%;
  background-color: #407EFF;
}

/*리스트 이름*/
.NameDivAlbum > div > p{
  position: relative;
  top:30%;
  text-align: center;
  text-shadow: 1px 1px #777777;
  font-size: 110%;
  font-weight: bold;
}


/* 기능변경 버튼 */
#tAlbumChangeModeBtn {
 position: absolute;
 top: 15px;
 left: 320px;
 width: 40px;
 height: 95px;
 background-color: #407EFF;
 border-radius: 20% 0% 0% 20%;
}

/* 기능선택 이라는 글씨*/
#tAlbumChangeModeBtn > p {
 position: relative;
 left: 12px;
 font-weight: bold;
}


/* 슬라이드 형식으로 나올 패널*/
#tAlbumChangeModePanel{
 position: absolute;
 top: 0px;
 width: 360px;
 height: 555px;
 background-color: white;
 /*border-radius: 3%;*/
 z-index: 3;


}

/* 패널 닫기 버튼 */
.tAlbumChangeModePanelCloseBtn{
 position: relative;
 top: 5px;
 left: 315px;
 width: 40px;
 height: 40px;
 /*background-color: #FFBFBF;*/
 background-image: url('../img/xBtn.png');
 background-size: 100%, 100%;
}




/*사진이름 틀*/
#tAlbum_childBox_div{
position: relative;
top:10px;
left:48px;
width: 150px;;
height: 92px;
/*border: 2px red solid;*/
/*margin-top: 3%;*/

}

#tAlbum_childBox_div > div{
  position: relative;
  width: 270px;
  height: 92px;
  background-color: #B2CCFF;
}

/*사진*/
#tAlbum_childBox_div > div > img{
position: relative;
margin-top: 3px;
width:80px;
height: 80px;
left:5px;
border: 2px black solid;
border-radius: 20%;
}

/*이름 틀*/
#tAlbum_childBox_div > div > div{
position: absolute;
display: inline-block;
top:8px;
left:95px;
width: 160px;
height: 74px;
/*padding: 5%;*/
background-color: #6799FF;
border-radius: 10%;

}
/*이름 글씨*/
#tAlbum_childBox_div > div > div > p{
position: relative;
top:23px;
text-align: center;
font-size: 120%;
font-weight: bold;
}



/*옵션버튼들 담는 Div*/
#showAlbumOptions{
  position: absolute;

  width: 100%;
  height:10%;

}

/*옵션버튼들 글씨*/
.showAlbumOptionBtn > p{
  position: absolute;
  top: 15%;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
}

/*최근 순 정렬*/
#showAlbumOptionBtn1{
  position: absolute;
  top: 15px;
  left: 60px;
  width: 120px;
  height: 35px;
  background-color: #5F00FF;
}


/*오래된 순 정렬*/
#showAlbumOptionBtn2{
  position: absolute;
  top: 15px;
  left: 190px;;
  width: 120px;
  height: 35px;
  background-color: #D1B2FF;
}

/*날짜 선택*/
#showAlbumOptionBtn3{
  position: absolute;
  top: 10%;
  left: 50%;
  width: 15%;
  height: 80%;
  background-color: orange;
}

/* ~ */
#showAlbumOptionBtn4{
  position: absolute;
  top: 20%;
  left: 60%;
  width: 15%;
  height: 80%;
  /*background-color: red;*/
}

/*날짜선택2*/
#showAlbumOptionBtn5{
  position: absolute;
  top: 10%;
  left: 70%;
  width: 15%;
  height: 80%;
  background-color: orange;
}

/*조회*/
#showAlbumOptionBtn6{
  position: absolute;
  top: 11%;
  left: 86%;
  width: 12%;
  height: 78%;
  background-color: #D1B2FF;
}



/*사진들 담는 메인 Div*/
#showAlbumDiv{
  position: absolute;
  top: 150px;
  left: 5%;
  width: 90%;
  height: 70%;
  background-color: #F0EBFF;
  /*background-color: white;*/
  overflow-x: hidden;
  overflow-y: scroll;
}

/*스크롤 바 보이지 않게 하기*/
#showAlbumDiv::-webkit-scrollbar{
  display: none;
}

  /*사진 각각의 Div*/
.photoImgsDiv{
  position: relative;
  display: inline-block;
  margin-top: 3%;
  margin: 2%;
  width: 45%;
  height: 40%;
  border: 1px solid black;
}
  /*사진*/
.photoImgsDiv > img{
  position: absolute;
  width: 100%;
  height: 100%;
}


/* 원아선택 버튼*/
#showAlbumBackBtn{
  position: absolute;
  top: 1%;
  left: 70%;
  width: 25%;
  height: 8%;
  background-color: #cccccc;
}
/* 원아선택 버튼 글씨*/
#showAlbumBackBtn > p{
  position: absolute;
  top: 20%;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
}
/*#showAlbumDiv > img{
  position: relative;
  margin-top: 3%;
  left: 3%;
  width: 93%;
  height: 55%;
  border: 1px solid black;
}*/

/*#showAlbumDiv > p{
  position: relative;
  color: white;
}*/
